.side-edit-box {
    z-index: 99999;
    height: 100%;
    position: fixed;
    /* top: 0px; */
    bottom: 52px;
    right: 0px !important;
}

.close-edit-box p {
    width: 100%;
    height: 51px;
    padding: 2px 0px 0px 2px;
}

.feather-x {
    height: 55px;
    width: 55px;
    cursor: pointer;
}

.close-edit-box {
    display: none;
    width: 100vw;
    height: 51px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 99999 !important;

}

.inside-edit-close-box {
    position: absolute;
    width: 100vw;
    height: 51px;
}



.side-edit-box {
    transition: 0.3s;
}

.edit-frame {
    border: none;
    padding-left: 65%;
    backdrop-filter: blur(15px);
    width: 100vw;
    height: calc(100% + 52px);
    box-shadow:
        0 2.9px 7.8px rgba(0, 0, 0, 0.011),
        0 6.2px 17.2px rgba(0, 0, 0, 0.016),
        0 10.1px 28.8px rgba(0, 0, 0, 0.019),
        0 15px 43.4px rgba(0, 0, 0, 0.022),
        0 21.5px 62.6px rgba(0, 0, 0, 0.025),
        0 30.5px 88.6px rgba(0, 0, 0, 0.028),
        0 44.1px 125.7px rgba(0, 0, 0, 0.031),
        0 66.9px 182.5px rgba(0, 0, 0, 0.034),
        0 109.2px 281.3px rgba(0, 0, 0, 0.039),
        0 184px 500px rgba(0, 0, 0, 0.05);
}