{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
{% for y in global_styles %}
<div class="{% if y.do_not_display %}
do-not-display {% else %} overlay {% endif %}" style="background-color: {{ y.base_background_color }} !important;">
</div>
<hr class="mt-5">
<h2 class="{% if y.do_not_display %}
do-not-display {% else %} logo-font mb-4 {% endif %}" style="color: {{ y.base_font_color }} !important;">
  {% trans "Sign Out" %}
</h2>
<hr>
<p class="{% if y.do_not_display %}
do-not-display {% else %} p-0 {% endif %}" style="color: {{ y.base_font_color }} !important;">
  {% trans 'Are you sure you want to sign out?' %}
</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="{% if y.do_not_display %}
  do-not-display {% else %} btn {{ y.secondary_button_border }} {% endif %}"
    style="background-color: {{ y.secondary_button_color }};
    color: {{ y.secondary_button_text_color }}">{% trans 'Sign Out' %}
  </button>
  <a class="{% if y.do_not_display %}
  do-not-display {% else %} btn {{ y.action_button_border }} rounded-0 {% endif %}"
    style="background-color: {{ y.action_button_color }};
    color: {{ y.action_button_text_color }};
    border: 1px solid {{ y.action_button_border_color }};"
    href="{% url 'home' %}">Cancel
  </a>
  
  {% endfor global_styles %}

</form>


{% endblock %}