{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'css/home_page/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home_page/templatemo-hexashop.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home_page/owl-carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home_page/lightbox.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home_page/fontawesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home_page/font-awesome.css' %}">
