{% load static %}


<script src="{% static 'javascript/home_page/popper.js' %}"></script>
<script src="{% static 'javascript/home_page/bootstrap.min.js' %}"></script>
<script src="{% static 'javascript/home_page/owl-carousel.js' %}"></script>
<script src="{% static 'javascript/home_page/accordions.js' %}"></script>
<script src="{% static 'javascript/home_page/datepicker.js' %}"></script>
<script src="{% static 'javascript/home_page/scrollreveal.min.js' %}"></script>
<script src="{% static 'javascript/home_page/waypoints.min.js' %}"></script>
<script src="{% static 'javascript/home_page/jquery.counterup.min.js' %}"></script>
<script src="{% static 'javascript/home_page/imgfix.min.js' %}"></script>
<script src="{% static 'javascript/home_page/slick.js' %}"></script>
<script src="{% static 'javascript/home_page/lightbox.js' %}"></script>
<script src="{% static 'javascript/home_page/isotope.js' %}"></script>
<script src="{% static 'javascript/home_page/custom.js' %}"></script>
<script src="{% static 'javascript/home_page/jquery-2.1.0.min.js' %}"></script>