{% extends 'base.html' %}
{% load i18n static %}



{% block page_header %}
{% include 'includes/header.html' %}

{% endblock page_header %}


{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/side_edit_box.css' %}">

</head>

{% include 'products/includes/side_edit_box.html' %}


{% for y in global_styles %}
<div class="{% if y.do_not_display %}
do-not-display {% else %} overlay {% endif %}" style="background-color: {{ y.base_background_color }} !important;">
</div>
{% endfor global_styles %}

{% for x in products_page_customisation %}
{% for y in global_styles %}
<div class="container-fluid">

    <div class="row my-5">
        <div class="col-md-12 text-center mt-3">

            {% for c in current_categories %}
            <a class="category-badge alt-font mx-auto flexed text-decoration-none mr-2" style="flex-flow: column;"
                href=" {% url 'products' %}?category={{c.url_name}}">
                {% for x in products_page_customisation %}
                <span class="p-2 mt-2 badge rounded-0 font-weight-bold">
                    {{c.category_name}}
                </span>
                    <p class="text-center ">
                        {{ c.category_description|safe }}
                    </p>
                {% endfor %}
            </a>

            {% endfor %}
            <hr class="w-50 mb-1">
        </div>
    </div>

    <div class="row">
        <div class="product-container offset-1 col-10">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector"
                            class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort
                                by...
                            </option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>
                                Price
                                (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>
                                Price
                                (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                                (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>
                                Name
                                (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>
                                Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                                Category (Z-A)
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">

                    {% for y in global_styles %}
                    <p class="{% if y.do_not_display %}
                        do-not-display {% else %} mt-3 text-center text-md-left {% endif %}"
                        style="color: {{ y.base_font_color }};">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for
                        <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                    {% endfor global_styles %}

                </div>
            </div>
            <div class="row mb-5 edit-product-cards" {% if user.is_superuser %} data-bs-toggle="tooltip"
                data-bs-placement="bottom" title="Double click to edit Product Cards" {% endif %}>
                {% for product in products %}
                {% for x in products_page_customisation %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 product-cards editable products-page__product-cards">


                    {% if product.main_product_image %}
                    <a {% if user.is_superuser %} {% else %} href="{% url 'product_detail' product.id %}" {% endif %}
                        class="product-cards-image">
                        <img class="card-img-top img-fluid" src="{{ product.main_product_image.url }}"
                            alt="{{ product.name }}">
                    </a>
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}" class="product-cards">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}

                    {% for x in products_page_customisation %}
                    <div class="card-body pb-0 text-left"
                        style="background-color: {{ x.product_card_background_color }} !important;">
                        <p class="{% if x.do_not_display %}
                                do-not-display {% else %} mb-0 alt-font font-weight-bold {% endif %}"
                            style="color: {{ x.product_card_font_color }};">{{ product.name }}</p>
                    </div>
                    {% endfor %}

                    <div class="{% if x.do_not_display %}
                            do-not-display {% else %} card-footer bg-white pt-0 border-0 text-left {% endif %}"
                        style="background-color: {{ x.product_card_background_color }} !important;">
                        <div class="row">
                            <div class="col alt-font text-left">
                                <p class="lead mb-0 font-weight-bold"
                                    style="font-weight: 300 !important; color: {{ x.product_card_font_color }}">
                                    £<span>{{ product.price }}
                                    </span>
                                </p>
                                {% if product.category %}
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted" style="color: {{ x.product_card_font_color }}B3 !important;"
                                        href="{% url 'products' %}?category={{ product.category.url_name }}">
                                        <i class="fas fa-tag mr-1"
                                            style="color: {{ x.product_card_icon_color }} !important;"></i>
                                        {{ product.category.category_name }}
                                    </a>
                                </p>
                                {% endif %}

                                {% if request.user.is_superuser %}
                                <hr>
                                <small class="mt-3">
                                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                </small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>


                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5 mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% empty %}
                <div class="no-products-overlay flexed py-5">
                    <div class="col-md-12 text-center py-5" style="height: 100%;">
                        <h1 class="{% if y.do_not_display %}
                            do-not-display {% else %} m-0 text-uppercase {% endif %}"
                            style="color: {{ y.base_font_color }} !important">NO PRODUCTS TO DISPLAY
                        </h1>
                        {% if user.is_superuser %}
                        <p class="my-5" style="text-trans0:0 0u0p0p0e0r0c0a0s0e0;0" 0>You can easily add your first
                            product by
                            following the simple steps below.</p>
                        <div class="container">
                            <div class="row flexed">
                                <div class="card mx-3" style="width: 18rem;">
                                    <a href="/admin/products/product/" target="_blank"
                                        class="card-body add-product-cards">
                                        <i class="fas fa-3x fa-plus mb-3"></i>
                                        <p>1. ADD PRODUCT</p>
                                    </a>
                                </div>
                                <div class="card mx-3" style="width: 18rem;">
                                    <a href="/superadmin/page_customisations/globalsitestyling/" target="_blank"
                                        class="card-body add-product-cards">
                                        <i class="fas fa-3x fa-palette mb-3"></i>
                                        <p>2. ADD STYLING</p>
                                    </a>
                                </div>

                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
{% endfor products_page_customisation %}
{% endfor global_styles %}

<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link
    
    d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>


{% include "includes/footer.html" %}
{% include "products/includes/edit_functions.html" %}

{% endblock content %}
{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);

        }
    })

    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })

</script>
{% endblock postloadjs %}